{% extends "base.html" %}
{% block css_top %}
<style>
    .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}




</style>
{% endblock css_top%}

{% block content %}
<div class="album">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            {% for event in events %}
            <div class="col d-flex align-items-stretch">

                <div class="card">
                    <a href="{% url 'event_detail' event.id%}">
                        <img src="{{event.poster.url}}" class="card-img-top" alt="{{event.name}}">
                         </a>
                        <div class="card-body d-flex flex-column align-items-start">
                            <h5 class="card-title">{{event.name}}</h5>
                            <p class="card-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-geo-alt" viewBox="0 0 16 16">
                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                                {{event.address}}
                            </p>
                            {% if event.price == 0 %}
                            <div class="badge bg-success text-white mt-auto">Бесплатно</div>
                            {% else %}
                            <div class="badge bg-primary text-white mt-auto"> {{event.price}} {{event.currency}}</div>
                            {% endif %}

                        </div>
                        <div class="card-footer text-muted">
                            {{event.event_date|date:"d M (D)"}} {{event.time_from|time:"H:i"}}
                            {% if event.time_to %} - {% endif %}
                            {{event.time_to|time:"H:i"}}
                        </div>

                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}