<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <title>Events in Dilijan {% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% block css_top %}{% endblock css_top%}
    {% block script_top %}{% endblock script_top %}
</head>
<body>
<header>

</header>
<main/>
{% block content %}{% endblock content%}
</main>
<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
{% block script_bottom %}{% endblock script_bottom%}
</body>
</html>
